# INTRODUCTION TO PANDAS

### PART II

In [1]:
import numpy  as np
import pandas as pd

## 2.5 Read an Excel file into a pandas DataFrame

##### > Read Excel File

In [2]:
pd.read_excel('Test.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Row/Column,C1,C2,C3,C4,C5
4,NaN,NaN,NaN,NaN,R1,1,A,7,1981-01-01 00:00:00,13.5
5,NaN,NaN,NaN,NaN,R2,2,B,8,1981-01-02 00:00:00,14.5
6,NaN,NaN,NaN,NaN,R3,3,C,9,1981-01-03 00:00:00,16.5
7,NaN,NaN,NaN,NaN,R4,4,D,10,1981-01-04 00:00:00,17.5
8,NaN,NaN,NaN,NaN,R5,5,E,11,1981-01-05 00:00:00,18.5
9,NaN,NaN,NaN,NaN,R6,6,F,12,1981-01-06 00:00:00,19.5

#### > Skip rows at the beginning (0-indexed)

In [3]:
pd.read_excel('Test.xlsx', skiprows = 4)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,Row/Column,C1,C2,C3,C4,C5
1,NaN,NaN,NaN,NaN,R1,1,A,7,1981-01-01 00:00:00,13.5
2,NaN,NaN,NaN,NaN,R2,2,B,8,1981-01-02 00:00:00,14.5
3,NaN,NaN,NaN,NaN,R3,3,C,9,1981-01-03 00:00:00,16.5
4,NaN,NaN,NaN,NaN,R4,4,D,10,1981-01-04 00:00:00,17.5
5,NaN,NaN,NaN,NaN,R5,5,E,11,1981-01-05 00:00:00,18.5
6,NaN,NaN,NaN,NaN,R6,6,F,12,1981-01-06 00:00:00,19.5

#### > Select a subset of columns

In [4]:
pd.read_excel('Test.xlsx', skiprows = 4, usecols = 'E:J') # Not supported in old versions

ValueError: 'E' is not in list

In [ ]:
pd.read_excel('Test.xlsx', skiprows = 4,  usecols = [4,5,6,7,8,9])

In [ ]:
columns = list(range(4,10))
pd.read_excel('Test.xlsx', skiprows = 4,  usecols = columns)

##### > Skip rows starting from the end (0-indexed)

In [ ]:
pd.read_excel('Test.xlsx', skiprows = 4, usecols = 'E:J', skipfooter = 0) # Test with skipfooter = 5

##### > Column to use as the row labels of the DataFrame (0-indexed)

In [ ]:
df = pd.read_excel('Test.xlsx', skiprows = 4, skipfooter = 0, usecols = 'E:J', index_col = 0)
df

In [ ]:
df.index

In [ ]:
df.columns

##### > Row to use for the column labels of the parsed DataFrame (0-indexed)

In [ ]:
df = pd.read_excel('Test.xlsx', skiprows = 4, skipfooter = 0, usecols = 'E:J', index_col = 0, header = 1)
df

In [ ]:
df.index

In [ ]:
df.columns

##### > List of column names to use

In [ ]:
columnNames = ['Row/Column', 'COL1', 'COL2', 'COL3', 'COL4', 'COL5']
pd.read_excel('Test.xlsx', skiprows = 4, skipfooter = 0, usecols = 'E:J', index_col = 0, header = 1, 
              names = columnNames)

##### > Any column of the DataFrame can be set also as index using set_index()

In [ ]:
df.set_index(['C4'], drop = True, append = False, inplace = False) 
# df.set_index(['C4'], drop = False, append = True, inplace = True)

#    EXAMPLE

In [ ]:
#! type data_AEMET.csv

##### > Read data (from a csv file)

In [ ]:
pd.read_csv('data_AEMET.csv').head()

##### > Separate records

In [ ]:
pd.read_csv('data_AEMET.csv', delimiter= '\t').head()

##### > Select columns [fecha nombre prec presMax presMin sol tmax tmed tmin velmedia]

In [ ]:
pd.read_csv('data_AEMET.csv', delimiter= '\t', usecols = [1, 3, 4, 5, 6, 9, 10, 11, 12, 13]).head()

##### > Select dates as index

In [ ]:
pd.read_csv('data_AEMET.csv', delimiter= '\t', usecols = [1, 3, 4, 5, 6, 9, 10, 11, 12, 13],
             index_col = 0).head()

##### > Modify column labels 
names = [ 'DATE', 'NAME', 'PRECIP', 'PMAX', 'PMIN', 'SOL', 'TMAX', 'TMED', 'TMIN', 'VMED']

In [ ]:
pd.read_csv('data_AEMET.csv', delimiter= '\t', usecols = [1, 3, 4, 5, 6, 9, 10, 11, 12, 13],
             index_col = 0,
             names = [ 'DATE', 'NAME', 'PRECIP', 'PMAX', 'PMIN', 'SOL', 'TMAX', 'TMED', 'TMIN', 'VMED']).head()

##### > Remove first row

In [ ]:
df = pd.read_csv('data_AEMET.csv', delimiter= '\t', usecols = [1, 3, 4, 5, 6, 9, 10, 11, 12, 13],
             index_col = 0,
             names = [ 'DATE', 'NAME', 'PRECIP', 'PMAX', 'PMIN', 'SOL', 'TMAX', 'TMED', 'TMIN', 'VMED'],
             skiprows = 1)
df.head()

## 2.6 Exploring the data

##### > Data types of each column

In [ ]:
df.dtypes

##### > Index

In [ ]:
df.index

###### > Columns

In [ ]:
df.columns

###### > Show the first 10 rows

In [ ]:
df.head(10)

##### >  Show the last 10 rows

In [ ]:
df.tail(10)

##### > Data frame info

In [ ]:
df.info()

##### > Data frame shape

In [ ]:
df.shape

##### > Total number of empty elements in each row

In [ ]:
df.isnull().sum()

##### > Total number of elements with value

In [ ]:
df.count(axis = 0)

## 2.7 Some statistical data

In [ ]:
df.describe()

##### > Fill Na/NaN elements (empty ellements)

In [ ]:
df.head()

In [ ]:
df.fillna(0).head()

In [ ]:
df.head() # Changes are not saved in DataFrame

In [ ]:
# inplace option
df.fillna(0, inplace = True)
df.head()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

##### > Single Statistical data

In [ ]:
df.mean()

## 2.8 Sort Data

In [ ]:
df.head()

##### > Sort data frame by index labels

In [ ]:
df.sort_index(ascending = False).head()

In [ ]:
df.head() # inplace = False !

In [ ]:
# Inplace
df.sort_index( ascending = True, inplace = True)
df.head()

##### > Sort rows by the values of any column

In [ ]:
df.sort_values('TMAX', ascending = False).head()

## 2.9 Data filtering

##### > By value ranges

In [ ]:
df[df['TMAX']> 37].head()

In [ ]:
test = df[df['TMAX']> 37]
test.shape

In [ ]:
# 37< TMAX < 40
df[(37<df['TMAX']) & (df['TMAX']< 40)].head()

In [ ]:
test = df[(37<df['TMAX']) & (df['TMAX']< 40)]
test.shape

## 2.10 Plotting Data

In [ ]:
#%matplotlib inline
import matplotlib.pyplot as plt

##### > Simple Plot

In [ ]:
# Select Asturias Airport (option 1)
df_1 = df.iloc[range(0,df.shape[0],3)]
df_1.head()

In [ ]:
df_1.shape

In [ ]:
# Select Asturias Airport (option 2)
df_2 = df[df['NAME'] == 'ASTURIAS AEROPUERTO']
df_2.head()

In [ ]:
df_2.shape

In [ ]:
ax = df_1[['TMAX', 'TMIN', 'TMED']].plot()
ax.set(xlabel='Date', ylabel='Temperature (C)', title='TEMPERATURE vs DATE')

ax.grid()
plt.savefig('fig1.png', dpi = 300)
plt.show()

In [ ]:
ax = df_1[['TMAX', 'TMIN', 'TMED']]
plt.figure()
ax.plot()
plt.ylim([0, 40])
plt.ylabel('Temperature (C)')
plt.xlabel('DATA')
plt.title('TEMPERATURE vs DATE')
plt.grid()
plt.savefig('fig2.png', dpi = 300)
plt.show()

In [ ]:
ax = df_1[['TMAX', 'TMIN', 'TMED']]
ax

##### > Bar plots

In [ ]:
plt.figure()
df_1.head()

In [ ]:
df_1.loc[['2017-01-01', '2017-01-02'], ['TMAX', 'TMIN', 'TMED']].plot(kind = 'bar', stacked = False)
plt.show()

In [ ]:
df_1.loc[['2017-01-01', '2017-01-02'],['TMAX', 'TMIN', 'TMED']].plot(kind = 'bar', stacked = True)
plt.show()